<footer class="container">
  <section class="site-footer">
    <section class="row">
      <p>
        Don't just sit there.
        <a href="http://learn.thoughtbot.com?utm_source=thoughtbot&utm_medium=podcasts&utm_campaign=footer">Learn something.</a>
      </p>
    </section>
    <aside class="row">
      <ul class="inline">
        <li>
          <a href="http://twitter.com/thoughtbot" class="podcast-icon" id="twitter">twitter</a>
        </li>
        <li>
          <a href=""http://tinyletter.com/thoughtbot class="podcast-icon" id="contact">newsletter</a>
        </li>
      </ul>
    </aside>
  </section>
</footer>
