fieldset {
  border: none;
  margin: 0 0 ($base-line-height / 2) 0;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  abbr {
    display: none;
  }
}

textarea {
  resize: none;
}

textarea,
#{$all-text-inputs} {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border: none;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 2) ($base-line-height / 2);
  width: $form-width;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    outline: none;
  }
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 2;
}

select {
  width: $form-width;
  margin-bottom: $base-line-height;
}

button:not(.reset-style), // Add class of 'reset-style' to prevent a button from being styled
input[type="submit"]:not(.reset-style) {
  @include button(simple, $base-accent-color);
  font-size: $form-font-size;
}
