<% content_for :page_title, @show.title %>
<% content_for :meta_description, @show.short_description %>

<% content_for :header do %>
  <% render @show %>
<% end %>

<section id='posts'>
  <%= render @show.episodes.published %>
</section>

<%= render 'credits', show: @show %>
