<% content_for :page_title, @show.title %>

<% content_for :header do %>
  <% render 'header', show: @show %>
<% end %>

<section id='posts'>
  <%= render @show.episodes.published %>
</section>

<%= render 'credits', show: @show %>
