section#container {
  width: grid-width(12);
}

header {
  margin: 8rem 0;
}

header hgroup h2 {
  font-size: 1.2rem;
}

.post {
  padding: 0 0 8rem grid-width(2) + $gw-gutter + 10px;
}

.email-container {
  padding: 0 0 5rem grid-width(2) + $gw-gutter + 10px;
}

#pagination {
  padding: 0 0 3rem grid-width(2) + $gw-gutter + 10px;
  width: 100%;
}

footer {
  width: grid-width(12);

  img.scene {
    max-width: 30%;
  }
}

#footer-container {
  padding: 0 0 0 grid-width(2) + $gw-gutter + 10px;
}
