.site-footer {
  @include shift(3);
  @include span-columns(9 of 12);

  @include media($mobile) {
    @include shift(0);
    @include fill-parent();
  }

  .row {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: none;
    }
  }

  .podcast-icon {
    @include size(42px);
    display: block;
    font: 0/0 a;
  }
}

#twitter {
  background: url('twitter.svg') -8px -1px no-repeat;

  &:hover {
    background-position: -8px -48px;
  }
}

#contact {
  background: url('contact.svg') 0 -1px no-repeat;

  &:hover {
    background-position: 0 -47px;
  }
}
