$sans-serif: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
$serif: 'Chronicle SSm A', 'Chronicle SSm B', Helvetica, sans-serif;
$subhead: 'Sentinel SSm A', 'Sentinel SSm B', Helvetica, sans-serif;
$monospace: monaco, monospace;

$red: #AD141E; // thoughtbot red

$gw-column: 60px; // one grid column
$gw-gutter: 25px; // size of one gutter
