@import 'bourbon/bourbon';
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'code-highlight';
@import 'forms';
@import 'theme';
@import 'figures';

@media only screen and (min-width: 760px) {
  @import '760-up';
}

@media only screen and (min-width: 1025px) {
  @import '1025-up';
}

.post .episode-number {
  margin: 0;

  a {
    font-weight: 800;

    &:visited {
      color: #999;
    }
  }
}

.listen audio {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}

header hgroup {
  h2 {
    margin-bottom: .2rem;
  }

  h3 {
    font-style: normal;
    line-height: 1.6em;
    margin-bottom: .5rem;

    a {
      border-bottom: 2px solid #999;
      margin-right: .5rem;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

body.devise-sessions {
  form {
    display: none;
  }

  h2 {
    display: none;
  }
}

body.guest-info {
  .title {
    margin-top: 2em;
  }

  .post {
    padding-left: 0;
  }
}
