@charset 'utf-8';

///////////////////////////////////////////////////////////////////////////////

@import 'bourbon';
@import 'neat';

///////////////////////////////////////////////////////////////////////////////

.listen {
  margin: 30px 0;

  audio {
    display: block;
    margin-bottom: 1em;
    width: 100%;
  }
}
