<% content_for :header do %>
  <% render @shows %>
<% end %>

<% content_for :footer do %>
  <p>
    <a href="http://robots.thoughtbot.com">Blog</a> •
    Don't just sit there.
    <a href="http://learn.thoughtbot.com">Learn something.</a>
  </p>
<% end %>
