<% content_for :body_class, 'guest-info' %>

<section id="posts">
  <article class="post text">
    <h1 class="title">Audio Recording</h1>

    <h2>If you do not already have a recording program you’re comfortable with:</h2>

    <p>We recommend <a href="https://itunes.apple.com/us/app/sound-studio/id405537804?mt=12">Sound Studio</a>.
    <p>You have to make sure it's using your microphone:</p>
    <img src="http://f.cl.ly/items/053F2O0O1E143v0p212T/Input.png">
    <p>When you're saving, make sure the file type / sample size is AIFF / 16bit:</p>
    <img src="http://f.cl.ly/items/0B2T3f3t2X173n263I1j/Export.png">
    <p>Alternatively, you can also use the free and open source <a href="http://audacity.sourceforge.net">Audacity</a>.</p>

    <h2>If you’re looking for a decent mic</h2>
    <h3>Easiest/Entry-level</h3>

    <p><a href="http://www.amazon.com/gp/aw/d/B002VA464S">Blue Microphones Yeti USB Microphone</a></p>

    <h3>More Advanced</h3>

    <p><a href="http://www.amazon.com/Rode-Podcaster-USB-Dynamic-Microphone/dp/B000JM46FY">Rode Podcaster USB</a>.</p>

    <p>You can augment this with the following items:</p>

    <ul>
      <li><a href="http://www.amazon.com/PSA-Swivel-Mount-Studio-Microphone/dp/B001D7UYBO">Swivel Mount</a></li>
      <li><a href="http://www.amazon.com/Nady-MPF-6-6-Inch-Microphone-Filter/dp/B0002CZW0Y">Pop Filter</a></li>
      <li><a href="http://www.amazon.com/Samson-SP01-Shockmount-Spider-Condenser/dp/B000LQLDM2">Shockmount</a></li>
    </ul>
  </article>
</section>
