<% content_for :body_class, 'guest-info' %>

<section id="posts">
  <article class="post text">
    <h1 class="title">So you're going to be a guest on the Giant Robots Smashing into other Giant Robots podcast</h1>

<p>Thank you so much for being a guest on the podcast. This page hopefully answers any questions you have about the process. However, if you have any questions at all, please don’t hesitate to email <%= mail_to 'chad@thoughtbot.com', 'chad@thoughtbot.com' %>.</p>

<h2 id="format">Format</h2>

<p>The Giant Robots Smashing into Other Giant Robots podcast is a weekly podcast discussing development, design, and the business of software development.</p>
<p>We cruise from the light and entertaining to the very technical, all in one episode. Our audience is developers, designers, and entrepreneurs.</p>
<p>You can view the website for the podcast <%= link_to 'here', 'http://podcasts.thoughtbot.com/giantrobots' %>.</p>
<p>As a guest on the podcast, think of yourself as a co-host. While Ben will ask you some interview type questions, we want the nature of the conversation to be collaborative.</p>
<p>You don’t need to do anything to prepare for your appearance on the show, and while we’ll have prepared some topics for discussion, we won’t have them for you ahead of time, in order to keep the episode fresh and spontaneous. However, if there is something in particular you are passionate about and would like to discuss, please let us know.</p>
<p>The podcast is not broadcast live, so if there are any bad sections or things you’d rather not discuss, they can be edited out.</p>

<h2 id="schedule">Schedule</h2>

<p>We typically record at 10:30am Eastern time on the preceding Tuesday.</p>
<p>We sometimes record episodes further in advance if we’re not able to record on our normal days because of travel, conferences, or vacations.</p>
<p>We almost always know when an episode will air when we’re recording it, so we’ll let you know.</p>
<p>Each new episode is released on Monday morning.</p>
<p>Once your episode is live, please tweet/retweet and let people know about your appearance!</p>

<h2 id="remote">If you are a remote guest</h2>

<p>We will connect via Skype where you’ll chat with Ben. Make sure Skype is using your recording microphone, not your computer’s built in microphone.</p>
<p>You should have a good microphone to ensure a good audio quality. In order to get the highest quality possible, you’ll record your your side of the podcast on your computer, and we’ll record our side on ours.</p>
<p>Also, you should, if at all possible, connect your computer via Ethernet, not wifi. This ensures the highest possible Skype connection.</p>
<p>For information on which microphone to get and how to record, visit our <a href="/guest-info/audio">Audio Recording page</a>.</p>
<p>If you do not have a good microphone and don’t want to get one, let us know and we can send you one to use for the show.</p>
<p>Also, do your best to ensure that you’ll be recording the show in a room that does not have an echo, doesn’t have background noise, etc.</p>
<p>Once we’re done recording, save the file and send it to us via Dropbox, or whatever mechanism you prefer.</p>
<p>We’ll also be recording the skype channel as a backup, but would prefer to use your local recording to keep quality as high as possible and chance of failure as low as possible.</p>
<p>Our skype user name is "thought.bot". At the scheduled time we’ll call you on Skype and get everything going.</p>

<h2 id="boston">If you are a guest in-person in Boston</h2>

<p>We are located at <%= link_to '41 Winter St. Floor 7, Boston, MA 02108', 'http://maps.google.com/maps?f=q&hl=en&q=41+Winter+St,+Boston,+MA+02108' %>. Right next to Park St. Station and Downtown Crossing, and convenient to every T line.</p>
<p>You do not need to be buzzed up, just come into the building and take the elevator up to the 7th floor.</p>
<p>If you are driving, the best place to park is usually in the parking garage underneath Boston Common.</p>
<p>Feel free to arrive a few minutes before your scheduled recording time to get a drink and get comfortable.</p>

<h2 id="sf">If you are a guest in-person in San Francisco</h2>

<p>We are located at <%= link_to '85 2nd St Suite 700 San Francisco, CA 94105', 'http://maps.google.com/maps?f=q&hl=en&q=85+2ND+STREET+san+francisco+ca+94105' %>.</p>
<p>Someone in the office will greet you and get you setup and connected to Boston.</p>
<p>Feel free to arrive a few minutes before your scheduled recording time to get a drink and get comfortable.</p>
</article>
</section>
